.main {
  align-items: center;
  background: #5db6c9;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 50px 0 5px 0;
}

.author {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  margin-top: 40px;
}

ul {
  padding: 0 24px;
}